{% extends 'startup/base.html' %}
{% block title %} Category {{category.name}} {% endblock %}

{% block content %}

    <a href="{% url 'category-list' %}">بازگشت به لیست</a>

    <p>{{category.name}}</p>
    <p>{{category.parent.name}}</p>
    <img src="{{category.logo.url}}" width="100" height="100" />

    <br>

    {% for child in category.children.all %}
        <a href="{{ child.get_absolute_url }}">{{child.name}}</a>
    {% endfor %}

    <br>
    {% for directory in category.directory_set.all %}
        <p>
            <a href="{{directory.get_absolute_url}}">{{ directory }}</a>
        </p>
    {% endfor %}

{% endblock %}